<div class="navigation">
    <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">

            <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse"
                    style="display:none;" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" [routerLink]="['/']"><img src="assets/images/logo.png" width="132"></a>
            </div>


        </div>
    </div>
</div>
<div class="">
    <div class="reg4">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 reg-wrap skipp blue-bg">
                    <div class="reg-step4">
                        <div class="row">
                            <h3>Customize Your Profile</h3>
                            <p>
                                <span>Add a photo to show your unique personality and style.</span>
                            </p>
                            <div class="cover-pic">
                                <div id="blah" class="profile-dash"
                                    [ngStyle]="{'background-image': coverimageUrl,'background-color':'#ffffff'}">
                                    <div class="edit edit-cover">
                                        <a data-target="#cover_upload" data-toggle="modal" href="#">
                                            <img class="fa-user" src="assets/images/edit_icon.png">
                                        </a>
                                    </div>
                                    <div class="profile-box">
                                        <div class="pro-img">
                                            <div class="profile-pic">
                                                <img alt="Profile Image" class="prof-avatar" src="{{profile_pic_url}}">
                                                <div class="edit">
                                                    <a (click)="onWebcam()" data-target="#profile_upload"
                                                        data-toggle="modal" href="#">
                                                        <img class="fa-user" src="assets/images/edit_icon.png">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <a (click)="saveProfilePic()" class="btn btn-default">Continue</a>
                            </div>
                            <p class="reg4-skip-link">
                                <a [routerLink]="['/signup5']">skip this step </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fourmodal">
        <div class="reg4">
            <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h1 class="modal-title" id="myModalLabel">Contact Member Information.</h1>
                        </div>
                        <div class="modal-body">
                            <h3>Separate Email Address</h3>
                            <input class="form-control" name="separateemailaddress" placeholder="eg: john@doe.com"
                                type="text">
                            <p>You will have the option to receive any messages to this email account you would like.
                            </p>
                            <label>
                                <input type="checkbox" value="Yes, i want to have my email attached?">Yes, I want to
                                have my email attached.
                            </label>
                            <br clear="all">
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal" type="button">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="profile_upload" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Profile Photo</h4>
                    <button class="close" (click)="toggleWebcam()" data-dismiss="modal" type="button">×</button>
                </div>
                <div class="modal-body">
                    <div class="skipp">
                        <div class="video-box">
                            <h3>Take Photo</h3>
                            <div *ngIf="this.cam_error">
                                <b>{{this.cam_error}}</b>
                            </div>
                            <webcam *ngIf="showWebcam" (initError)="handleInitError($event)"
                                [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>


                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-success" (click)="triggerSnapshot();">Capture Photo</button>
                        </div>
                        <div class="col-md-6">
                            <a (change)="changeListner($event)" href="javascript:void(0)">
                                <label for="files" class="btn btn-default upload_btn">Upload Photo</label>
                                <input id="files" class="file-input" style="display: none;" type="file"
                                    onchange="readURL(this);">
                            </a>
                        </div>

                    </div>
                    <div class="row">

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" (click)="toggleWebcam()" data-dismiss="modal"
                        type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cover_upload" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="myModalLabel">Cover Photo</h1>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div class="row">
                            <div class="col-md-6">
                                <!--  <a href="javascript:void(0)">
                                    <span class="btn btn-default">Upload Photo</span>
                                    <input class="file-input-cover" style="display: none;" type="file">
                                </a> -->
                                <!-- <a href="javascript:void(0)">
                                    <span id="file" class="btn btn-default">Upload Photo</span>
                                    <input class="file-input-cover" type="file">
                                </a> -->
                                <a href="javascript:void(0)" (change)="changeListnerCover($event)">
                                    <span (click)="chooseImgCover()" class="btn btn-default upload_btn">Upload
                                        Photo</span>
                                    <input id="files" class="file-input-cover file-upload" style="display: none;"
                                        type="file">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>