<div class="navigation">
	<div class="container">
		<div class="navbar navbar-inverse navbar-static-top" role="navigation">

			<div class="navbar-header">
				<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse"
					style="display:none;" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" [routerLink]="['/']"><img src="assets/images/logo.png" width="132"></a>
			</div>


		</div>
	</div>
</div>
<div class="reg5">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 reg-wrap blue-bg">
				<div class="reg-step5">
					<div class="row">

						
						<div class="col-lg-5 completeinfo">
							<h3>Complete your information.</h3>
							<br>
							<form #regF="ngForm" (ngSubmit)="regF.form.valid && formReg()" novalidate>
								
								<input type="text" value="{{userInfo.name}}" class="form-control" disabled>
								<input pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="email"
									#email="ngModel" [(ngModel)]="regData.email" value="" name="email"
									class="form-control" [attr.readonly]="email_readyonly ? 'readonly' : null">
								<div *ngIf="regF.submitted && !email.valid" class="help-block">
									<div [hidden]="!email.errors.required">
										Email is required
									</div>
									<div [hidden]="!email.errors.pattern">
										Please enter valid email
									</div>
								</div>
								<input type="text" name="username"
									[attr.readonly]="username_readonly ? 'readonly' : null"
									[(ngModel)]="regData.username" #username="ngModel" class="form-control"
									placeholder="Username" required>
								<div *ngIf="regF.submitted && !username.valid" class="help-block">
									<div [hidden]="!username.errors.required">
										Username is required
									</div>
								</div>

								<input [(ngModel)]="regData.password" type="password" minlength="6" name="password"
									#password="ngModel" placeholder="Password" validateEqual="retypepassword"
									reverse="true" required>​
								<div *ngIf="regF.submitted && !password.valid" class="help-block">
									<div [hidden]="!password.errors.required">
										Password is required
									</div>
									<div [hidden]="!password.errors.minlength">
										Minimum 6 characters required
									</div>
								</div>

								<input [(ngModel)]="regData.retypepassword" type="password" name="retypepassword"
									#retypepassword="ngModel" placeholder="Confirm Password" validateEqual="password"
									required>
								<div *ngIf="regF.submitted && !retypepassword.valid" class="help-block">
									<div [hidden]="!retypepassword.errors.required">
										Confirm Password is required
									</div>
									<div
										[hidden]="retypepassword.errors.required || (retypepassword.pristine && !regF.submitted && !retypepassword.errors.required)">
										Confirm Password mismatch
									</div>
								</div>


								<select id="birthmonth" #birthmonth="ngModel" name="birthmonth" class="form-control"
									[(ngModel)]="regData.month" required>
									<option value="" selected="">Select Birth Month</option>
									<option value="1">January</option>
									<option value="2">February</option>
									<option value="3">March</option>
									<option value="4">April</option>
									<option value="5">May</option>
									<option value="6">June</option>
									<option value="7">July</option>
									<option value="8">August</option>
									<option value="9">September</option>
									<option value="10">October</option>
									<option value="11">November</option>
									<option value="12">December</option>
								</select>

								<div *ngIf="regF.submitted && !birthmonth.valid" class="help-block">
									<div [hidden]="!birthmonth.errors.required">
										Please Select Birth Month!
									</div>
								</div>

								<select id="birthyear" #birthyear="ngModel" name="birthyear" class="form-control"
									[(ngModel)]="regData.year" required>
									<option value="">Select Birth Year</option>
									<option *ngFor="let object of createYearRange(1900)" value="{{object}}">{{object}}
									</option>
								</select>

								<div *ngIf="regF.submitted && !birthyear.valid" class="help-block">
									<div [hidden]="!birthyear.errors.required">
										Please Select Birth Year! 
									</div>
								</div>

								<button [disabled]="loading" class="btn btn-default" type="submit">Sign Up</button>
								<br clear="all">
								<br clear="all">
								<div *ngIf="errorCheck" class="alert alert-danger">
									<div [innerHTML]="errorMessage"></div>
								</div>
							</form>

							<br>

						</div>
						<div class="col-lg-7 skipp">
							<h3 style="margin-top:10px;"></h3>
							<br>

							<video *ngIf="jivin_video_link" autoplay="autoplay" width="100%" height="350px" controls>
								<source src="{{ jivin_video_link }}">
							</video>
						</div>
						<div class="stp5-terms col-lg-12">
							<p>By signing up, you agree to the <a [routerLink]="['/terms']" target="_blank">Terms of
									Service</a> and <a [routerLink]="['/privacy']" target="_blank">Privacy Policy</a>,
								including <a [routerLink]="['/cookies']" target="_blank">Cookie Use</a>.
								Others will be able to find you by email or phone number when provided.</p>
						</div>



					</div>


				</div>
			</div>
		</div>
	</div>
</div>

<div *ngIf="loading" class="loader"></div>