<footer class="slider-footer">
    <div class="container footer">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <a [routerLink]="['/privacy']">Privacy</a>
                <a [routerLink]="['/terms']">Terms</a>
                <a [routerLink]="['/advertising']">Advertising</a>
                <a [routerLink]="['/ad-choices']">Ad Choices</a>
                <a [routerLink]="['/cookies']">Cookies</a>
                <a [routerLink]="['/language-link']">Languages</a>
            </div>
        </div>
    </div>
</footer>