
<div class="top-panel-wrap">
	<div class="userbox center" [ngStyle]="{'background-image': backgroundImage}" >
		<a [routerLink]="['/profile', userInformation.user_info.username]"><img src="{{profileImg}}" width="82" class="img-circle"></a>
		<a [routerLink]="['/profile', userInformation.user_info.username]"><p>{{userInformation.user_info.name}}</p></a>
	</div>
	<div class="contactmemberbg center">
		<a *ngIf="userInformation.user_info.is_login != 1" class="btn btn-default contactmemberwall" data-toggle="modal" data-target="#myModal">Contact Member</a>
		<!--<a *ngIf="userInformation.user_info.is_login == 1" class="btn btn-default upgrade-link" [routerLink]="['/plans']">Upgrade</a>-->
		<a *ngIf="userInformation.user_info.is_login == 1 && userInformation.subscription.Plansdetails.plan.type == 'Paid' && user_type=='Competitor'" class="btn btn-orange btn-round upgrade-link" [routerLink]="['/instruction']">ADVERTISEMENT</a>
		<a *ngIf="user_type=='Fan'" class="btn btn-orange btn-round upgrade-link">Compete</a>
	</div> 
</div>