<div class="navigation">
	<div class="container">
		<div class="navbar navbar-inverse navbar-static-top" role="navigation">

			<div class="navbar-header">
				<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse"
					style="display:none;" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" [routerLink]="['/']"><img src="assets/images/logo.png" width="132"></a>
			</div>


		</div>
	</div>
</div>
<div class="reg7">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="reg1">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="reg-step1 setup-prof">
                                    <p>Hang a second while we set up Jivin for you.</p>
                                    <img src="assets/img/equalizer.gif" height="63" width="247">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>