<div class="navigation">
    <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">

            <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse"
                    style="display:none;" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" [routerLink]="['/']"><img src="assets/images/logo.png" width="132"></a>
            </div>


        </div>
    </div>
</div>

<!-- slider-->
<div class="homemainbody">
    <div class="slider">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('assets/images/1.jpg')">

                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('assets/images/2.jpg')">

                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('assets/images/3.jpg')">

                </div>
                <!-- Slide Four - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('assets/images/4.jpg')">

                </div>
                <!-- Slide Five - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('assets/images/5.jpg')">

                </div>
                <!-- Slide Six - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('assets/images/6.jpg')">

                </div>
                <!-- Slide Seven - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('assets/images/7.jpg')">

                </div>

            </div>
        </div>
        <div class="slider-btm">
            <div class="container">
                <div class="row">
                    <div class="carousel-caption d-md-block col-lg-8 col-md-5 col-xs-12">
                        <h1 class="display-4">Welcome to JIVIN</h1>
                        <p class="lead">Let The Competition Begin!</p>
                    </div>
                    <div class="slider-form col-lg-4 col-md-7 col-xs-12">
                        <div class="">
                            <div class="loginbox">
                                <div class="row">
                                    <form (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate
                                        class="form-upper-box">
                                        <div *ngIf="errorCheck" class="col-lg-12">
                                            <div class="alert alert-danger">
                                                <!-- <strong> Opps!</strong><span>&nbsp;&nbsp;Your credentials does not match!</span> -->
                                                <i class="fa fa-warning"></i> {{ message }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-xs-12"
                                            [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                            <input name="username"
                                                placeholder="Please Enter Your Username or Email Address"
                                                name="username" [(ngModel)]="model.username" #username="ngModel"
                                                required type="text" class="">
                                            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is
                                                required</div>
                                        </div>
                                        <div class="loginbottom">
                                            <div class="col-lg-9 col-xs-12"
                                                [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                                <input name="password" placeholder="Please Enter Your Password"
                                                    name="password" [(ngModel)]="model.password" #password="ngModel"
                                                    required type="password" class="">
                                                <div *ngIf="f.submitted && !password.valid" class="help-block">Password
                                                    is required</div>
                                                <a class="forgot" data-target="#myModalForgotPass" data-toggle="modal"
                                                    href="#">Forgot your password?</a>
                                                <div class="login_socialicon">
                                                    <a href="javascript:void(0);" (click)="logeerdIn('facebook')"><i
                                                            aria-hidden="true" class="fa fa-facebook-square"></i></a>
                                                    <a href="javascript:void(0);" (click)="logeerdIn('linkedin')"><i
                                                            aria-hidden="true" class="fa fa-linkedin-square"></i></a>
                                                    <a href="javascript:void(0);" (click)="logeerdIn('instagram')"><i
                                                            aria-hidden="true" class="fa fa-instagram"></i></a>
                                                    <a href="javascript:void(0);" (click)="logeerdIn('twitter')"><i
                                                            aria-hidden="true" class="fa fa-twitter-square"></i></a>
                                                    <a href="javascript:void(0);" (click)="logeerdIn('google')"><i
                                                            aria-hidden="true" class="fa fa-google"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-xs-12">
                                                <input class="login-button-home login-btn"
                                                    style="width:100% !important;" type="submit" value="Login">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="fourmodal">
                                <div class="reg4">
                                    <div aria-labelledby="myModalLabel" class="modal fade" id="myModalForgotPass"
                                        role="dialog" tabindex="-1">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel">Forgot your
                                                        password!&nbsp;Put your email below</h4>
                                                    <button aria-label="Close" class="close" data-dismiss="modal"
                                                        type="button"><span aria-hidden="true">×</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form [formGroup]="forgetPassForm"
                                                        (ngSubmit)="sendEmail(forgetPassForm.value, forgetPassForm.valid)"
                                                        novalidate>
                                                        <input required formControlName="email"
                                                            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                                            name="email" class="form-control"
                                                            placeholder="Enter Your Email Id Here">
                                                        <small class="text-danger" hidden="">Please enter a valid email
                                                            id.. </small> <br>
                                                        <div class="pull-right">
                                                            <button class="btn btn-default" type="submit">Send</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer" style="text-align: left;">
                                                    <div *ngIf="successMessage" class="alert alert-success">
                                                        <span>A mail has been sent to you for resetting your password.
                                                            Please check your email.</span>
                                                    </div>
                                                    <div *ngIf="ferror" class="alert alert-danger">
                                                        <span>{{ferror_msg}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <app-register></app-register>
                        </div>
                    </div>
                </div>
                <app-login-footer></app-login-footer>
            </div>

            <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a> -->
        </div>
    </div>

</div>
<div *ngIf="loading" class="loader"></div>