<div class="location-map" id="location-map">

	<!--<div class="btn-group btn-breadcrumb selection">
		<a href="javascript:void(0)" class="btn btn-primary reset">US</a>
		<a href="javascript:void(0)" class="btn btn-info">Snippets</a>
		<a href="javascript:void(0)" class="btn btn-success">Breadcrumbs</a>
		<a href="javascript:void(0)" class="btn btn-warning">Rainbow</a>
	</div>-->
	<!--<div class="col-sm-12" style="top:10px;">
		
		
		<div class="col-sm-2 col-md-2" *ngIf="is_mobile ? false : true">
				<button style="display: none;" id="back_btn" href="#" onclick="back_on_map_reg();"
					class="map-button-save reg_back_btn pull-right">Back</button>
			</div>
		<div class="col-xs-2 col-sm-4 col-md-2" *ngIf="is_mobile ? false : true">
			
			<a href="javascript:void(0)" (click)="setMapToUser()" class="map-button-save pull-right">Save &amp;
				Continue »</a>
		</div>
		
	</div>-->
	<br><br>
	<div class="col-sm-12">
		<h3 id="location_title">Please choose the REGION you live in</h3>
		<h4 id="location_subtitle">Jivin has multiple areas of competitions, giving members more opportunities and more exposure</h4>
	</div>
	<div class="col-sm-12" style="z-index: 111111;">
			<button style="display: none; " id="back_btn" href="#" onclick="back_on_map_reg();"
			class="btn btn-orange btn-round reg_back_btn pull-right">Back</button>
	</div>
	<div class="col-sm-12">
			
		<div class="location-map" id="location-map" (click)="show_hide_loader()">

			<div id="my-map-us" class="map-overlay">
				<img src="assets/img/map/full-map-new.png" style="left:0;" id="main_map_hidden" usemap="#usmap"
					class="map">
				<map name="usmap" id="us_mapping" style="cursor: pointer;"></map>
			</div>

			<img src="assets/img/map/full-map-new.png" id="main_map" class="full-map">

		</div>
		<input type="hidden" name="selected_region_name" id="selected_region_name" />
		<input type="hidden" name="selected_division_name" id="selected_division_name" />
		<input type="hidden" name="selected_state_name" id="selected_state_name" />
		<input type="hidden" [(ngModel)]="area_type_selected" name="area_type_selected" id="area_type_selected"
			#area_type_selected_htm />
		<input #selected_location_id_htm type="hidden" [(ngModel)]="selected_location_id" name="selected_location_id"
			id="selected_location_id" />
		<input #selected_location_slug_htm type="hidden" [(ngModel)]="selected_location_slug"
			name="selected_location_slug" id="selected_location_slug" />
	</div>
	<!--<div id="my-map-us" class="map-overlay">
		<img src="assets/img/map/full-map.png" usemap="#usmap" class="map">
		<map name="usmap" id="us_mapping" style="cursor: pointer;"></map>
	</div>
	
	<img src="assets/img/map/m1.png" class="division" data-region="WEST" data-division="Pacific" data-reg-center='{"x":640,"y":504}' data-divi-center='{"x":350,"y":444}'>
	<img src="assets/img/map/m2.png" class="division" data-region="WEST" data-division="Mountain" data-reg-center='{"x":640,"y":504}' data-divi-center='{"x":704,"y":566}'>

	<img src="assets/img/map/m3.png" class="division" data-region="MIDWEST" data-division="West_North_central" data-reg-center='{"x":1730,"y":466}' data-divi-center='{"x":1700,"y":470}'>
	<img src="assets/img/map/m4.png" class="division" data-region="MIDWEST" data-division="East_North_central" data-reg-center='{"x":1730,"y":466}' data-divi-center='{"x":1978,"y":462}'>

	<img src="assets/img/map/m5.png" class="division" data-region="NORTHEAST" data-division="Middle_Atlantic" data-reg-center='{"x":2650,"y":414}' data-divi-center='{"x":2700,"y":484}'>
	<img src="assets/img/map/m6.png" class="division" data-region="NORTHEAST" data-division="New_England" data-reg-center='{"x":2650,"y":414}' data-divi-center='{"x":2800,"y":354}'>

	<img src="assets/img/map/m7.png" class="division" data-region="SOUTH" data-division="West_South_central" data-reg-center='{"x":1900,"y":1100}' data-divi-center='{"x":1572,"y":1150}'>
	<img src="assets/img/map/m8.png" class="division" data-region="SOUTH" data-division="East_South_central" data-reg-center='{"x":1900,"y":1100}' data-divi-center='{"x":1972,"y":1150}'>
	<img src="assets/img/map/m9.png" class="division" data-region="SOUTH" data-division="South_Atlantic" data-reg-center='{"x":1900,"y":1100}' data-divi-center='{"x":2252,"y":1150}'>
	<img src="assets/img/map/full-map.png" class="full-map" >
-->
	<!--<div class="col-sm-12" *ngIf="is_mobile">
		<div class="col-sm-10">
				<button style="display: none;" id="back_btn" href="#" onclick="back_on_map_reg();"
					class="map-button-save reg_back_btn pull-right">Back</button>
			</div>
		<div class="col-sm-2" >
			
			<a href="javascript:void(0)" (click)="setMapToUser()" class="map-button-save pull-right">Save &amp;
				Continue »</a>
		</div>
</div>-->

</div>

<div id="user_type_modal" class="modal fade map-model" role="dialog">
	<div class="modal-dialog modal-sm">

		<!-- Modal content-->
		<div class="modal-content">

			<div class="modal-body">

				<form class="form-horizontal">
					<fieldset>
						<div class="form-group">

							<div class="map-popinner">

								<div class="radio">
									<label>
										<input name="user_type" [(ngModel)]="user_type" checked value="Competitor"
											type="radio">
										Will you compete?
									</label>
								</div>

								<div class="radio">
									<label>
										<input name="user_type" [(ngModel)]="user_type" value="Fan" type="radio">
										Are you a Fan?</label>
								</div>
								<a href="javascript:void(0)" (click)="setMapToUser()" class="btn btn-orange btn-round mrg-tp20">Save &amp;
									Continue</a>
							</div>
							
						</div>
						
					</fieldset>
					
				</form>

			</div>

		</div>

	</div>
</div>

<div *ngIf="loading" class="loader"></div>