<div class="navigation">
    <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">

            <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse"
                    style="display:none;" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" [routerLink]="['/']"><img src="assets/images/logo.png" width="132"></a>
            </div>


        </div>
    </div>
</div>

<div class="reg1">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="reg-step1">
					<img src="assets/images/reglogo.png" height="114" width="216">
					<div class="reg-tagline">LET THE COMPETITION BEGIN</div>
					<h1>Welcome to Jivin</h1>
					<p>We are excited that you are here <b>{{nameData}}</b></p>
					<a [routerLink]="['/signup2']" class="btn btn-default">Continue</a>
				</div>
			</div> 
		</div>
	</div>
</div> 