<div class="col-lg-3 col-sm-3">

	<app-sidepanel-top></app-sidepanel-top>

	<div class="wallabout">
		<ul class="list-group">

			<li class="list-group-item">
				<a href="javascript:void(0)" (click)="openbiomodal(userInformation.user_info.account_settings.about)"> Bio </a> </li>
			<!--	<li class="list-group-item">{{ current_route }}</li>
			<li class="list-group-item">Born: </li>
			<li class="list-group-item">Region: <a href="javascript:void(0)"
					(click)="goLeaderboard(userInformation.user_info.account_settings.region.slug,'region')">{{userInformation.user_info.account_settings.region.name}}</a>
			</li>
			<li class="list-group-item">Division: <a href="javascript:void(0)"
					(click)="goLeaderboard(userInformation.user_info.account_settings.division.slug,'division')">{{userInformation.user_info.account_settings.division.name}}</a>
			</li>
			<li class="list-group-item">State: <a href="javascript:void(0)"
					(click)="goLeaderboard(userInformation.user_info.account_settings.state.slug,'state')">{{userInformation.user_info.account_settings.state.name}}</a>
			</li>-->
			<li class="list-group-item"><span>Following</span> <a [routerLink]="['/followings']">{{totalFollowers}}
					people</a></li>
			<li class="list-group-item"><span>Follower</span> 
				<a	[routerLink]="['/followers']">{{userInformation.user_info.total_followed_by}} people</a></li>
			<!--<li class="list-group-item">Total Video Votes: <img src="assets/img/music symbol.png" height="12" width="12" style="margin-top:-5px;"> <a href="javascript:void(0)" data-toggle="modal" data-target="#myModalttl">{{userInformation.user_info.total_video_votes}}</a></li>
<li class="list-group-item">Total Audio Votes: <img src="assets/img/music symbol.png" height="12" width="12" style="margin-top:-5px;"> <a href="javascript:void(0)" data-toggle="modal" data-target="#myModalttl">{{userInformation.user_info.total_audio_votes}}</a></li>-->

			<!--	<li *ngIf="is_compitator" class="list-group-item">
				Total Video Votes:
				<img src="assets/img/music symbol.png" height="12" width="12" style="margin-top:-5px;">
				<a *ngIf="video_votes > 0" href="javascript:void(0)" data-toggle="modal"
					(click)="gotovideo(userInformation.user_info.id,userInformation.user_info.username)">
					{{video_votes}}
				</a>
				<ng-container *ngIf="video_votes == 0">{{video_votes}}</ng-container>
			</li>
			<li *ngIf="is_compitator" class="list-group-item">
				Total Audio Votes:
				<img src="assets/img/music symbol.png" height="12" width="12" style="margin-top:-5px;">
				<a *ngIf="audio_votes > 0" href="javascript:void(0)" data-toggle="modal"
					(click)="gotoaudio(userInformation.user_info.id,userInformation.user_info.username)">
					{{audio_votes}}
				</a>
				<ng-container *ngIf="audio_votes == 0">{{audio_votes}}</ng-container>
			</li>
-->
			<li *ngIf="is_compitator" class="list-group-item"><span>Total Votes</span>
				{{shownumber(userInformation.user_info.total_video_votes,userInformation.user_info.total_audio_votes)}}
			</li>
			<!--<li class="list-group-item"><span title="{{userInformation.user_info.interests}}">{{userInterests}}</span></li>-->

			<li class="list-group-item profile-title"><span>View Profile</span>
				<br>
				<a *ngIf="userInformation.user_info.account_settings.social_link_facebook" target="_blank"
					href="{{ userInformation.user_info.account_settings.social_link_facebook }}"><img
						src="assets/img/social ico's/fb.png" height="31" class="socialimg"></a>

				<a *ngIf="userInformation.user_info.account_settings.social_link_facebook===null" target="_blank"
					href="javascript:void(0)"><img src="assets/img/social ico's/fb.png" height="31"
						class="socialimg"></a>

				<a *ngIf="userInformation.user_info.account_settings.social_link_youtube" target="_blank"
					href="{{userInformation.user_info.account_settings.social_link_youtube}}"><img
						src="assets/img/social ico's/youtube.png" height="31" class="socialimg"></a>
				<a *ngIf="userInformation.user_info.account_settings.social_link_youtube===null" target="_blank"
					href="javascript:void(0)"><img src="assets/img/social ico's/youtube.png" height="31"
						class="socialimg"></a>

				<a *ngIf="userInformation.user_info.account_settings.social_link_twitter" target="_blank"
					href="{{userInformation.user_info.account_settings.social_link_twitter}}"><img
						src="assets/img/social ico's/twiteer.png" height="31" class="socialimg"></a>
				<a *ngIf="userInformation.user_info.account_settings.social_link_twitter===null" target="_blank"
					href="javascript:void(0)"><img src="assets/img/social ico's/twiteer.png" height="31"
						class="socialimg"></a>

				<a *ngIf="userInformation.user_info.account_settings.social_link_linkedin" target="_blank"
					href="{{userInformation.user_info.account_settings.social_link_linkedin}}"><img
						src="assets/img/social ico's/linkedin.png" height="31" class="socialimg"></a>
				<a *ngIf="userInformation.user_info.account_settings.social_link_linkedin===null" target="_blank"
					href="javascript:void(0)"><img src="assets/img/social ico's/linkedin.png" height="31"
						class="socialimg"></a>

				<a *ngIf="userInformation.user_info.account_settings.social_link_pinterest" target="_blank"
					href="{{userInformation.user_info.account_settings.social_link_pinterest}}"><img
						src="assets/img/social ico's/pinterest.png" height="29" width="29" class="socialimg"></a>
				<a *ngIf="userInformation.user_info.account_settings.social_link_pinterest===null" target="_blank"
					href="javascript:void(0)"><img src="assets/img/social ico's/pinterest.png" height="29" width="29"
						class="socialimg"></a>
			</li>
		</ul>
	</div>
	<hr>
	<div *ngIf="is_compitator" class="wallevents">
		<h1><strong>Events</strong> ({{totalEvent}})</h1>
		<!-- <div *ngFor="let event of eventObjects" class="media">
			<div class="media-left media-middle pull-left">
				<a [routerLink]="['/events',userInformation.user_info.id]">
					<img class="media-object" src="assets/img/concertnight.png" alt="...">
				</a>
			</div>
			<div class="media-body">
				<a [routerLink]="['/events',userInformation.user_info.id]" class="follow-username">
					<h4 class="media-heading">{{userInformation.user_info.name}}</h4>
				</a>
				<p>{{ event.name_of_place }}<br>
					<small>{{event.time}}</small>
				</p>
			</div>
		</div> -->
		<ng-container *ngIf="(eventObjects.length>0) ? true : false">
			<div *ngFor="let event of eventObjects" class="media">
				<a [routerLink]="['/events',userInformation.user_info.id]">
					<img class="mr-3" src="assets/img/event-icon.png" alt="event name">
					<div class="media-body">
							<p>{{ event.name_of_place }}<br>
								<small>{{event.time}}</small>
							</p>
					</div>
				</a>
			</div>
		</ng-container>
		<div class="media" *ngIf="(eventObjects.length==0) ? true : false">
			<div style="width:100% !important; float:left !important;" class="media-body">
				No events available
			</div>
		</div>

		<div style="text-align: center;" *ngIf="(eventObjects.length==0) ? false : true">
			<a [routerLink]="['/events',userInformation.user_info.id]" class="btn btn-orange btn-round">view all</a>
		</div>
	</div>
	<hr>
	<div *ngIf="is_compitator" class="wallvideos">
		<h1><strong>Videos</strong> ({{my_video_list.length}})</h1>
		<!-- <img src="assets/img/audio.jpg" height="105" width="110">
	<img src="assets/img/audio.jpg" height="105" width="110">
	<img src="assets/img/audio.jpg" height="105" width="110">
	<img src="assets/img/audio.jpg" height="105" width="110"> -->
		<!-- <span *ngFor="let eachVideo of tempVideoArr;let i=index">
			<img *ngIf="i<4" src="assets/img/audio.jpg" height="105" width="110">
		</span> -->
		<ng-container *ngIf="(my_video_list.length>0) ? true : false">
		<ng-container *ngFor="let eachVideo of my_video_list;let i=index">
				<div *ngIf="i<4" class="media">
						<img class="mr-3" src="assets/img/vedio-thumb.jpg" alt="video name">
						<div class="media-body">
							
							{{ eachVideo.text_details | slice : 0 : 30 }}
						</div>
					</div>
		</ng-container>
	</ng-container>
		<div class="media" *ngIf="(my_video_list.length==0) ? true : false">
				<div style="width:100% !important; float:left !important;" class="media-body">
					No video available
				</div>
			</div>
		
		
		<div style="text-align: center;">
			<a *ngIf="my_video_list.length>0" [routerLink]="['/my-videos']"
				class="btn btn-orange btn-round">view all</a>
			<!--<a *ngIf="userInformation.user_info.total_videos==0" href="javascript:void(0)"
				class="btn btn-orange btn-round">view all</a>-->
		</div>
	</div>
	<hr>

	<div *ngIf="is_compitator" class="wallvideos wallaudio">
		<h1><strong>Audios</strong> ({{my_audio_list.length}})</h1>
		<!-- <img src="assets/img/audio.jpg" height="105" width="110">
	<img src="assets/img/audio.jpg" height="105" width="110">
	<img src="assets/img/audio.jpg" height="105" width="110">
	<img src="assets/img/audio.jpg" height="105" width="110"> -->
		<!-- <span *ngFor="let eachAudio of tempAudioArr;let i=index">
			<img *ngIf="i<4" src="assets/img/audio.jpg" height="105" width="110">
		</span> -->
		<ng-container *ngIf="(my_audio_list.length>0) ? true : false">
				<ng-container *ngFor="let eachAudio of my_audio_list;let i=index">
		<div class="media">
			<img class="mr-3" src="assets/img/audio-icon.png" alt="audio name">
			<div class="media-body">
					{{ eachAudio.text_details | slice : 0 : 30 }}
			</div>
		</div>
		</ng-container>
		</ng-container>
		<div class="media" *ngIf="(my_audio_list.length==0) ? true : false">
				<div style="width:100% !important; float:left !important;" class="media-body">
					No audio available
				</div>
			</div>
		<div style="text-align: center;">
			<a *ngIf="my_audio_list.length>0" [routerLink]="['/my-audios']"
				class="btn btn-orange btn-round">view all</a>
			<!--<a *ngIf="userInformation.user_info.total_audios==0" href="javascript:void(0)"
				class="btn btn-orange btn-round">view all</a>-->
		</div>
	</div>
	<br><br>
	<div *ngFor="let idata of imageData">

		<div
			*ngIf="(stateName == idata.state_name)&& (idata.creativedetails.type=='Image') && (idata.creativedetails.ad_region_id==5) && (siteUrl == '/'+idata.page_url)">

			<div *ngIf="siteUrl=='/'+idata.page_url"
				style="background: #f7f7f7;padding: 8px;text-align: center;margin: 15px 20px;/* border: 4px dashed; */border: 1px solid #ddd;">
				<div>

					<a href="{{idata.creativedetails.user_link}}" target="_blank"><img
							src="{{idata.creativedetails.image_url}}" width="200"></a>
				</div>
			</div>
		</div>
	</div>


</div>

<div class="modal fade" id="biomodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
				<h2 class="modal-title" id="biomodalLabel">Bio Details </h2>
			</div>
			<div class="modal-body">
				<div class="">
					<h4><span class="bio_popup_title">About</span></h4>
				</div>
				<p id="biotext"></p>
				<hr>
				<div class="">
					<h4><span class="bio_popup_title">Born</span></h4>
				</div>
				<span>{{ userInformation.user_info.age }} Years Young</span>
				<hr>
				<div class="">
					<h4><span class="bio_popup_title">Location</span></h4>
				</div>
				<p><b>Region: </b>{{userInformation.user_info.account_settings.region.name}}
					, <b>Division: </b>{{userInformation.user_info.account_settings.division.name}}
					, <b>State: </b>{{userInformation.user_info.account_settings.state.name}}
				</p>

				<hr *ngIf="is_compitator">
				<div *ngIf="is_compitator" class="">
					<h4><span class="bio_popup_title">Votes</span></h4>
				</div>
				<p><b>Total Video Votes: </b><a *ngIf="video_votes > 0" href="javascript:void(0)" data-toggle="modal"
						(click)="gotovideo(userInformation.user_info.id,userInformation.user_info.username)">
						{{video_votes}}
					</a>
					<ng-container *ngIf="audio_votes == 0">{{video_votes}}</ng-container>
					, <b>Total Audio Votes: </b><a *ngIf="audio_votes > 0" href="javascript:void(0)" data-toggle="modal"
						(click)="gotoaudio(userInformation.user_info.id,userInformation.user_info.username)">
						{{audio_votes}}
					</a>
					<ng-container *ngIf="audio_votes == 0">{{audio_votes}}</ng-container>
					, <b>Total Votes:
					</b>{{shownumber(userInformation.user_info.total_video_votes,userInformation.user_info.total_audio_votes)}}
				</p>


				<hr>
				<div class="">
					<h4><span class="bio_popup_title">Interests</span></h4>
				</div>
				<p>{{userInformation.user_info.interests}}
				</p>
			</div>

			<div class="modal-footer">
				<a href="javascript:void(0);" class="btn btn-orange" (click)="redirectAccount()">Edit<i
						class="fa fa-pencil" title="Edit Bio"></i></a>
			</div>

		</div>
	</div>
</div>