a {
  color: #428bca;
  text-decoration: none;
}
.navbar {
  padding: 0;
}
.navbar-brand {
  margin-right: 0;
}
@media (min-width: 768px) {
.navbar .navbar-brand {
    margin-left: -7px;
}
}
.carousel-inner {
    position: fixed;
    top: 0;
    width: 100%;
}
  .carousel-inner > .carousel-item {
 /*    max-width: 100%;
    height: auto; */
    height: 100vh;
    min-height: 350px;
    position: inherit;
    background-attachment: fixed;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    backface-visibility: visible;
    transition-duration: .2s;
    perspective: 1000px;
    transition: opacity 0.8s ease-in-out 0s;
    transform: translate3d(0, 0, 0);
}
  .carousel-caption {
    position: relative;
    right: 15%;
    top: 0;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}
.homemainbody .slider .carousel-caption {
  text-align: left;
}
.homemainbody .slider h1 {
    font-weight: 500;
}
.homemainbody .loginbox .forgot {
  font-size: 14px;
}
b, strong {
  font-weight: 700;
}
.loginbottom {
  display: block;
  position: relative;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: arial;
  font-size: 14px;
  line-height: inherit;
}
.fade.in {
  opacity: 1;
}
@media (min-width: 1200px) {
    .loginbottom {
        display: flex;
    }
}
.slider-btm {
  /*   */
  top: 0%;
  width: inherit;
}
.modal-dialog {
  top:6%;
}
.modal-dialog {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.modal-dialog .modal-header h4 {
  font-size: 18px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.modal-body {
  font-size: 14px;
}
@media screen and (max-width: 480px) {
.carousel-caption {
    display: block !important ;
  }
}
.form-upper-box {
    width: -webkit-fill-available;
}
.footer {
    position: relative;
}