a {
  color: #428bca;
  text-decoration: none;
}
.navbar {
  padding: 0;
}
.navbar-brand {
  margin-right: 0;
}
@media (min-width: 768px) {
.navbar .navbar-brand {
    margin-left: -7px;
}
}
.carousel-inner {
    position: fixed;
    top: 0;
    width: 100%;
}
  .carousel-inner > .carousel-item {
 /*    max-width: 100%;
    height: auto; */
    height: 100vh;
    min-height: 350px;
    position: inherit;
    background-attachment: fixed;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    backface-visibility: visible;
    transition-duration: .2s;
    perspective: 1000px;
    transition: opacity 0.8s ease-in-out 0s;
    transform: translate3d(0, 0, 0);
}
  .carousel-caption {
    position: relative;
    right: 15%;
    top: 0;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}
.homemainbody .slider .carousel-caption {
  text-align: left;
}
.homemainbody .slider h1 {
    font-weight: 500;
}
.homemainbody .loginbox .forgot {
  font-size: 14px;
}
b, strong {
  font-weight: 700;
}
.loginbottom {
  display: block;
  position: relative;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: arial;
  font-size: 14px;
  line-height: inherit;
}
.fade.in {
  opacity: 1;
}
@media (min-width: 1200px) {
    .loginbottom {
        display: flex;
    }
}
.slider-btm {
  /*   */
  top: 0%;
  width: inherit;
}
.modal-dialog {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    top: 55px;
}
.modal-dialog .modal-header h4 {
  font-size: 18px;
}
.modal-body {
  font-size: 14px;
}
@media screen and (max-width: 480px) {
.carousel-caption {
    display: block !important ;
  }
}
.form-upper-box {
    width: -webkit-fill-available;
}
.footer {
    position: relative;
}

/*signup_step2*/
.reg2 .btn-default {
  color: #fff !important;
}

/*signup_step3*/
.skipp .btn-default {
  color: #fff !important;
}
@media (min-width: 768px) {
  .user-block {
    display: contents;
  }
}

/*signup_step3_map*/
.location-map h3 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.location-map h4 {
  font-size: 18px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* signup_step4*/
.reg4 .blue-bg {
  margin-top: 60px;
  margin-bottom: 60px;
}
.reg-step4 {
  margin-top: 0px !important;
  margin-bottom: 20px !important;
}
.profile-dash {
  background: #000 50% 50% no-repeat;
  margin: 25px 0;
  padding: 15px;
  height: 320px;
  position: relative;
}
.cover-pic {
  position: relative;
  width: -webkit-fill-available;
}
.reg-step4 h3 {
  width: -webkit-fill-available;
}
.reg4 p, .reg4 p span {
  width: -webkit-fill-available;
}
.cover-pic {
  display: block;
}
.cover-pic:hover .profile-dash .edit {
  display: block;
}
.cover-pic .profile-pic {
  position: relative;
  display: inline-block;
}
.pro-img {
  height: 200px;
  overflow: hidden;
  width: 200px;
  border: 2px solid #ffc210;
  text-align: center;
}
.edit {
  padding-top: 7px;
  padding-right: 7px;
  color: #000;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
.video-box .myVideo1579517575248-dimensions {
  width: 320px;
  height: 240px;
}
.video-box h3 {
  font-size: 24px;
}
@media (min-width: 768px) {
  .skipp .btn-default {
    position: absolute;
}
}

/* signup_step5*/
.reg5 h3 {
  position: relative;
}