<div class="navigation">
    <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">

            <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse"
                    style="display:none;" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" [routerLink]="['/']"><img src="assets/images/logo.png" width="132"></a>
            </div>


        </div>
    </div>
</div>
<div class="reg3">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 reg-wrap">
				<div class="reg-step2">

					<div class="row">
						<div class="col-lg-12">
							<h1>Suggestions just for you.</h1>
							<p>Based on your interests, we recommend following these artists!</p><br>
						</div>
						<div class="col-lg-7 user-all">
							<div class="row">

							<br clear="all">
							<div *ngFor="let follower of suggested_followers" class="user-block" id="{{follower.id}}_fol">
							<div class="col-lg-10 col-md-10 col-sm-10">
								<div class="media">
									<div class="media-left pull-left">
										<a href="javascript:void()">
										<img class="media-object" src="{{ follower.user_image_url }}" height="80" width="80"></a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">{{ follower.name}}</h4>
										<span>{{ follower.email}}</span>
										<p>Welcome to the official feed for JIVIN...</p>
										<p><span>Born in {{ follower.birth_year}}.</span></p>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2">
								<a (click)="addFollower(follower.id)" class="btn btn-danger followreg3">Follow</a>
							</div>
							</div>
							<div style="text-align: center;" *ngIf="followAll==true">
								<h4>You Have Followed Everyone!</h4>
							</div>
						</div>

						</div>



					<div class="col-lg-5 skipp">
					<a (click)="followEveryOne()" class="btn btn-default">Follow all &amp; Continue</a><br clear="all"><br><br>

					<a (click)="followParticular()" class="btn btn-default">Follow {{totalFollower}} &amp; Continue</a> <br>
					  <br><br>
					  <span class="skip-link"><a [routerLink]="['/signup3-map']" >skip this step</a></span>
					</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>