<div class="navigation">
    <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">

            <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse"
                    style="display:none;" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" [routerLink]="['/']"><img src="assets/images/logo.png" width="132"></a>
            </div>
            

        </div>
    </div>
</div>

<div class="container">
    <div class="wallbase">
        <div class="row no-gutters">
            <div class="col-lg-12">
                <div class="terms">
                    <h1>Privacy of Service</h1>
                    
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus faucibus metus velit, mollis pellentesque ipsum lacinia a. Sed eu pretium lorem, et elementum orci. Ut tristique vestibulum scelerisque. Sed sed faucibus mi. Cras consectetur lorem a efficitur euismod. Mauris id massa nulla. Fusce accumsan justo ex, id pharetra dui mattis sit amet. Cras eleifend, enim nec auctor tempus, ex quam fermentum metus, ut hendrerit nibh est at tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum commodo, nisl nec tincidunt suscipit, metus ex laoreet nibh, at finibus risus felis quis felis. Donec interdum eros ex, in varius tortor commodo in. Mauris euismod, lectus at dapibus laoreet, ante mi fermentum elit, vitae pellentesque lorem dolor ut quam. Nullam vel porta diam, vitae elementum ex. Nullam sodales nisi metus, et tempor dui gravida vel. Aenean quis metus tortor. Morbi efficitur est ut urna dignissim, in pellentesque libero suscipit.
                        </p>
                        <p>
                            Mauris sit amet lacus nec eros gravida feugiat ut et arcu. Nullam egestas pharetra justo, interdum viverra arcu efficitur sit amet. Aenean fringilla augue vel leo pulvinar fermentum. Duis fermentum commodo ante, gravida semper ante placerat vel. Curabitur porttitor dignissim enim, eu viverra magna. Sed dignissim, lacus lacinia sodales egestas, lorem arcu tristique ligula, et eleifend dolor elit eu mi. Phasellus accumsan ex sed felis lacinia vehicula. Quisque non turpis a ligula rhoncus semper sit amet posuere lectus. Aliquam fringilla purus vitae ultrices fermentum. Proin venenatis libero eu dignissim imperdiet. In hac habitasse platea dictumst. Mauris ac purus velit. Mauris quis augue in est lobortis malesuada rutrum tempus nibh. Donec ac ante sed mauris tristique semper consectetur in mauris. Curabitur eget erat ac sapien tempus volutpat a non neque.
                        </p>
                        <p>
                            Etiam eget pulvinar dui, porttitor accumsan lacus. Suspendisse dignissim enim in purus viverra, quis lobortis dolor condimentum. Proin suscipit nibh velit, id vestibulum ipsum posuere quis. Suspendisse potenti. Nulla finibus sodales ligula. Sed commodo cursus metus. Pellentesque lorem urna, placerat sed placerat vel, tempus vel magna.
                        </p>
                        <p>
                            Morbi vitae ante sit amet elit hendrerit interdum. Etiam non tortor imperdiet, pretium lacus a, dapibus erat. Nunc blandit est enim, a faucibus orci suscipit et. Proin imperdiet est sed dignissim pretium. Pellentesque vitae ante ante. Aliquam quis pellentesque massa. Integer ullamcorper erat ac nulla sagittis, eget eleifend tortor convallis. Cras id tortor eget leo bibendum dictum. Donec eu rhoncus lorem. Ut nec urna eu est pretium commodo id non mauris. Donec consequat nisl vitae justo scelerisque, eget blandit dui luctus.
                        </p>
                        <p>
                            In id metus tempor, venenatis ipsum eget, finibus enim. Pellentesque mattis quis nisi quis sagittis. Nulla eleifend pharetra nunc ac volutpat. Donec libero lorem, hendrerit vel mauris vel, accumsan mattis massa. Suspendisse quis risus non massa eleifend commodo eget nec neque. Nulla at augue ac mauris iaculis tincidunt in sed mi. Etiam justo lorem, dapibus id nunc sed, aliquet tempor magna. Duis non ultrices sem. Duis scelerisque nulla nec quam euismod cursus. Vivamus tincidunt nulla a ipsum dapibus, eget aliquet nunc fringilla. Vestibulum blandit augue leo, in ultricies turpis vulputate non. Cras nec pellentesque eros. Sed sed venenatis ex. In fermentum quam quis odio aliquet iaculis. Nam sed accumsan mi. Morbi urna purus, sodales vel dignissim id, commodo quis diam.
                        </p>
                        <p>Brownie toffee gummi bears tart caramels toffee jelly-o danish gummies. Sweet fruitcake jujubes liquorice jelly beans lollipop. Jelly caramels sugar plum chocolate macaroon. Macaroon lollipop oat cake liquorice. Sesame snaps fruitcake gingerbread lollipop sugar plum cupcake. Bear claw jelly-o muffin sweet roll chupa chups cheesecake. Jelly brownie candy cake dragée. Fruitcake gummies lollipop lemon drops bonbon apple pie bonbon jujubes. Muffin bear claw wafer biscuit jelly-o bonbon pastry dessert. Lemon drops cotton candy cookie marshmallow jelly-o bonbon jelly caramels. Lollipop fruitcake oat cake. Jelly bonbon muffin apple pie marshmallow. Cheesecake lollipop sugar plum marshmallow.
                        </p>
                        <p>Cotton candy chupa chups marzipan. Cake pastry bonbon cake ice cream. Bonbon biscuit dragée candy croissant chupa chups gummies gingerbread. Cake soufflé cake sugar plum sesame snaps macaroon lollipop lollipop sugar plum. Danish sesame snaps sweet fruitcake candy ice cream powder gingerbread tiramisu. Dragée chocolate caramels halvah. Halvah sesame snaps sweet. Pudding carrot cake cookie. Jelly beans pie cookie liquorice sesame snaps pie cotton candy. Ice cream apple pie wafer powder pudding powder bonbon. Carrot cake danish croissant croissant jujubes. Biscuit pudding tart cheesecake cheesecake gingerbread sweet roll dessert. Cake jelly liquorice cheesecake fruitcake. Donut tart cake tootsie roll soufflé jelly beans dragée.
                        </p>
                        <p>Wafer croissant donut wafer pudding gingerbread cupcake danish. Sweet croissant sesame snaps cake danish. Marshmallow chocolate sugar plum sesame snaps cotton candy pie. Jelly carrot cake apple pie sesame snaps. Gingerbread cookie chocolate cake cotton candy candy sweet roll. Lemon drops cookie soufflé cheesecake powder toffee sesame snaps gummi bears chocolate bar. Chocolate bar danish macaroon gummies dragée. Donut lollipop oat cake candy canes halvah. Danish chocolate bar tart muffin pastry. Tiramisu tart sweet gingerbread toffee. Fruitcake cake donut. Halvah wafer jelly beans gummi bears. Sesame snaps bear claw sugar plum apple pie. Sweet roll gingerbread jelly beans gummi bears danish.
                        </p>
                        <p>Icing dragée liquorice. Jujubes liquorice apple pie tiramisu muffin. Tootsie roll tiramisu dragée jelly croissant dessert. Sweet roll lollipop muffin ice cream muffin. Pie croissant cake oat cake topping carrot cake chocolate carrot cake ice cream. Cupcake brownie danish marzipan icing macaroon danish sugar plum. Macaroon cake cupcake sweet topping liquorice. Candy canes bear claw powder jujubes pie. Caramels cupcake carrot cake icing sesame snaps halvah liquorice tootsie roll chocolate. Oat cake cotton candy jelly beans tart chocolate cake. Bonbon sweet roll lemon drops apple pie halvah. Chocolate cheesecake oat cake. Bonbon icing fruitcake pastry soufflé gummi bears gummi bears sugar plum candy canes.
                        </p>
                        <p>Oat cake gummies jelly dessert chocolate bar wafer. Muffin sugar plum gingerbread topping toffee powder apple pie biscuit. Liquorice lemon drops liquorice biscuit liquorice. Gingerbread chupa chups marzipan dessert sweet roll jelly beans. Sweet roll cheesecake candy. Croissant tiramisu chocolate bar dragée chupa chups marshmallow. Oat cake cookie jujubes tootsie roll icing. Caramels caramels danish liquorice candy canes topping. Chocolate jelly-o apple pie lollipop. Toffee chupa chups halvah toffee gummi bears jujubes. Sugar plum chocolate bar jujubes chocolate bar macaroon cheesecake soufflé. Sweet roll cupcake topping biscuit cookie brownie brownie caramels. Biscuit cheesecake marzipan pudding soufflé tiramisu. Chocolate cotton candy gummi bears.
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>