<div class="navigation">
    <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">

            <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse"
                    style="display:none;" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" [routerLink]="['/']"><img src="assets/images/logo.png" width="132"></a>
            </div>


        </div>
    </div>
</div>

<div class="reg2">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 reg-wrap">
                <div class="reg-step2">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Tell us what you are interested in</h1>
                            <div style="width: 87%;" *ngIf="errorCheck==false">
								<div style="margin-top: 4%;" class="alert alert-danger">
									<strong>Oops!</strong> Please choose an interest and try submitting again.
								</div>
							</div>
                        </div>
                    </div>
                    <form class="reg2-checkbox" name="interested">
                        <div class="row">
                            <ng-container  *ngFor="let cat of interestData; let index = index">
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="pretty p-default">
                                    <input type="checkbox" value="{{cat.id}}" (change)="updateCheckBox(cat.id, $event)">
                                    <div class="state p-warning">
                                        <label>{{ cat.name }}</label>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        </div>
                    </form>
                    <div class="row reg2-btn">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <a class="btn btn-default" href="javascript:void(0);" (click)="submitForm('one')">Continue</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <a class="btn btn-default" href="javascript:void(0);" (click)="submitForm('all')">Select All &amp; Continue</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>