<div class="navigation">
	<div class="container">
		<div class="navbar navbar-inverse navbar-static-top" role="navigation">

			<div class="navbar-header">
				<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse"
					style="display:none;" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" [routerLink]="['/']"><img src="assets/images/logo.png" width="132"></a>
			</div>


		</div>
	</div>
</div>
<div class="reg5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="reg-step6 blue-bg">
                    <div class="row">
                        <div class="col-lg-12 talent">
                            <h1>Find talents and friends around the world</h1>
                            <p>Invite your friends and find talents from around the world. Don't worry, we won't email
                                your contacts without your permission.
                            </p>
                        </div>



                        <div class="col-lg-9 reg-wrap find">


                            <a href="javascript:void(0)" [socialShare]="'fb'"><img
                                    src="assets/img/facebook.jpg" height="56" width="236"></a>
                            <a href="javascript:void(0)" [socialShare]="'tw'"><img
                                    src="assets/img/twitter.jpg" height="56" width="236"></a>
                            <a href="javascript:void(0)" (click)="gmail()"><img src="assets/img/gmail.jpg" height="56"
                                    width="236"></a>
                            <a href="javascript:void(0)" (click)="outlook()"><img src="assets/img/outlook.jpg"
                                    height="56" width="236"></a>
                            <a href="javascript:void(0)" [socialShare]="'in'"><img
                                    src="assets/img/linkedin.jpg" height="56" width="236"></a>
                            <!-- <a href="javascript:void(0)"><img src="assets/img/instagram.jpg" height="56" width="236"></a>
<a href="javascript:void(0)"><img src="assets/img/yahoo.jpg" height="56" width="236"></a> -->
                            <!-- <a href="javascript:void(0)" (click)="yahoo()"><img src="assets/img/yahoo.jpg" height="56" width="236"></a> -->
                            <a href="javascript:void(0)" 
                                [socialShare]="'pn'"><img
                                    src="assets/img/pinterest.jpg" height="56" width="236"></a>

                            <!-- <form name="agreetoterms" class="agreetoterms">
    <p style="margin-top:0; padding-top:0;">
        <input type="checkbox" value="agreedtoterms" name="agreeterms" (click)="checkagree($event)"> 
        Agree to <a target="_blank" [routerLink]="['/terms']">Terms and Conditions.</a>
    </p>
</form> -->
                            <p *ngIf="erroMsg" class="alert alert-danger" style="margin-bottom:10px; padding-top:12px;">
                                {{erroMsg}}</p>

                            <!-- <a [routerLink]="['/signup/step7']" class="btn btn-default" (click)="nextstep()">Select &amp; Continue</a> -->
                            <div class="col-lg-6 reg-wrap col-md-6 col-sm-6">
                                <a class="btn btn-default" (click)="nextstep()">Select &amp; Continue</a>
                            </div>

                        </div>



                    </div>


                </div>


                <div class="row">

                    <div class="col-lg-12 reg6-content">
                        <p>Choosing a service will open
                            a window for you to log in securely and import your contacts to Twitter, Facebook, Gmail,
                            LinkedIn, Pinterest. You'll only find users who have allowed their accounts to be found by
                            email address. We won't email anyone without your consent, but we may use contact
                            information to make Who To Follow suggestions. You can remove your contacts from Twitter,
                            Facebook, Gmail, LinkedIn, Pinterest at any time.</p>
                    </div>




                    <!-- <div class="col-lg-6">
<p style="text-align:right; padding-right:10px;">
<a href="javascript:void(0)" style="color:#4d4d4d;">Skip this step</a>
</p>
</div> -->




                </div>




            </div>
        </div>
    </div>
</div>







<!-- Modal -->
<div class="fourmodal">
    <div class="reg4">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h1 class="modal-title" id="myModalLabel">Contact Member Information.</h1>
                    </div>
                    <div class="modal-body">
                        <h3>Separate Email Address</h3>
                        <input type="text" name="separateemailaddress" class="form-control"
                            placeholder="eg: john@doe.com">
                        <p>You will have the option to receive any messages to this email account you would like.</p>
                        <label><input type="checkbox" value="Yes, i want to have my email attached?">Yes, i want to have
                            my email attached?</label>

                        <br clear="all"><br clear="all"><br clear="all">

                        <h3>Personal phone number</h3>
                        <input type="text" name="personalphonenumber" class="form-control"
                            placeholder="eg: 999-999-9999">
                        <p>If you choose to give their personal phone number, then you would be able to receive any new
                            alerts through text message using “Jivin” “App.”</p>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading" class="loader"></div>