<div class="loginbox">
                                <h2><img src="assets/images/logo.png"> New Here? Sign up</h2>
                                <form #regForm="ngForm" (ngSubmit)="regForm.form.valid && formReg()" #f="ngForm"
                                    novalidate>
                                    <div class="row">
                                        <div class="col-lg-12 col-xs-12">
                                            <input required type="text" name="name" [(ngModel)]="regdata.name"
                                                placeholder="Full Name" #name="ngModel">
                                            <div *ngIf="regForm.submitted && !name.valid" class="help-block">
                                                <div [hidden]="!name.errors.required">
                                                    Name is required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-xs-12">
                                            <input pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                                ngControl="email" required type="email" name=email
                                                [(ngModel)]="regdata.email" placeholder="Email" #email="ngModel">
                                            <div *ngIf="regForm.submitted && !email.valid" class="help-block">
                                                <span [hidden]="!email.errors.required">
                                                    Email is required
                                                </span>
                                                <span [hidden]="!email.errors.pattern">
                                                    Please type a valid email!
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-xs-12">
                                            <input type="submit" value="Register">
                                        </div>
                                        <div class="col-lg-8 col-xs-12">&nbsp;</div>
                                        <div class="col-lg-12 socialregister">
                                            <br>
                                            <strong>OR</strong>
                                            <br>
                                            <a (click)="signIn('facebook')" href="javascript:void(0);" target="_top"><img
                                                    src="assets/images/rfb.jpg"></a>
                                            <a (click)="signIn('linkedin')" href="javascript:void(0);"><img src="assets/images/rin.jpg"></a>
                                            <a (click)="signIn('instagram')" class="" href="javascript:void(0);"><img
                                                    src="assets/images/instagram_join.png"></a>
                                            <a (click)="signIn('twitter')" class="" href="javascript:void(0);"><img src="assets/images/rtw.jpg"></a>
                                            <a (click)="signIn('google')" class="" href="javascript:void(0);"><img src="assets/images/rgp.jpg"></a>
                                        </div>
                                    </div>
                                </form>
                            </div>